:root{
    --height: 30px;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    box-sizing: border-box;
    color: #191919;
    font-family: SF Pro Display;
    /* align-content: flex-start; */
    transition: all 0.1s ease;
    font-size: 12px;
    letter-spacing: 1px;
}
::-webkit-scrollbar{
    width: 0;
}
img{
    width: 100%;
}
div, a{
    display: grid;
}
body{
    background: #e3e2e7;
}
.header{
    display: block;
    height: 70px;
    background: #fff;
    justify-content: center;
}
.header_block{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1120px;
    margin: 0 auto;

}
.header_logo{
    display: flex;
    align-items: center;
}
.header_logo_text{
    font-size: 20px;
    font-weight: 900;
}
.header_menu{
    display: flex;
    padding: 0 20px 0 0;
    gap: 20px;
}
.header_img{
    height: 70px;
    width: auto;
}
.header_button{
    border: 2px solid #191919;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}
.header_button:hover{
    background: #191919;
    color: #fff;
}
.header_vape:first-child, .header_liquids:first-child{
    display: grid;
}
.header_vape:last-child, .header_liquids:last-child{
    display: none;
}
.main{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}
.vape_group{
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    justify-content: center;
}
.vape{
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    gap: 10px;
    box-shadow: 0 0 5px 1.25px #00000015;
}
.vape{
	background: linear-gradient(45deg, #fff, #fff, rgb(0, 0, 0, 0.01), #fff);
	background-size: 400%;
	animation: gradient 1s ease ;
}
.vape:hover{
    transform: scale(1.05);
}
@keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 0%;
	}

}
.vape_img{
    animation: showDiv 1s forwards;
}
@keyframes showDiv {
  0%{
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.vape_name{
    font-size: 16px;
    justify-content: center;
}
.vape_button_trash{
    border: 2px solid #191919;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    user-select: none;
    background: none;
    color: #191919;
}
@media (max-width: 510px){
    .header_logo_text{
        display: none;
    }
    .vape_group{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 390px){
    .vape_group{
        grid-template-columns: 1fr;
    }
    .header_menu{
        gap: 10px;
    }
    .header_button{
        padding: 10px;
    }
    .header_vape:first-child, .header_liquids:first-child{
        display: none;
    }
    .header_vape:last-child, .header_liquids:last-child{
        display: grid;
    }
}